In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("googleplaystore_user_reviews.csv")

In [3]:
df.sample()

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
50578,Fuelio: Gas log & costs,Perfect,Positive,1.0,1.0

In [4]:
df.isna().sum()

App                           0
Translated_Review         26868
Sentiment                 26863
Sentiment_Polarity        26863
Sentiment_Subjectivity    26863
dtype: int64

In [5]:
df.sample(5)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
61526,Herpes Positive Singles Dating,Works good far. Wish I could find free dating ...,Positive,0.500000,0.775
9540,AutoScout24 Switzerland – Find your new car,Card great!,Positive,1.000000,0.750
35645,Dominos Game ✔️,love game ahmm problem,Positive,0.050000,0.500
35926,Down Dog: Great Yoga Anywhere,Legit best yoga I could find. I always feel li...,Positive,0.388889,0.350
19362,CBS - Full Episodes & Live TV,NaN,NaN,NaN,NaN

In [6]:
df = df[~df.Sentiment.isna()]
df.isna().sum()

App                       0
Translated_Review         5
Sentiment                 0
Sentiment_Polarity        0
Sentiment_Subjectivity    0
dtype: int64

In [7]:
df.Sentiment.value_counts()

Positive    23998
Negative     8271
Neutral      5163
Name: Sentiment, dtype: int64

In [8]:
scores = df.Sentiment.map({"Positive":4,"Negative":-4,"Neutral":0})
df.Sentiment = scores

In [9]:
df.sample(3)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
33004,Daily Yoga - Yoga Fitness Plans,I using last 3 days continue use. This amazing...,4,0.198889,0.573333
58597,HD Movie Video Player,tried searching movies wanted watch trailers e...,4,0.350000,0.550000
44836,Fast News,It gives prominent news different sources loca...,4,0.250000,0.733333

In [10]:
df.sample(5)

,App,Translated_Review,Sentiment,Sentiment_Polarity,Sentiment_Subjectivity
48434,Four In A Line,Esududidududud The first thing I done enjoy i4,4,0.325000,0.416667
9146,Arrow.io,Killer,0,0.000000,0.000000
58726,HDFC Bank MobileBanking,Just I've uninstalled reinstalled Even date.st...,-4,-1.000000,1.000000
56091,Google News,Still dark mode especially dark widget? And wo...,4,0.062500,0.375000
2416,ABC Kids - Tracing & Phonics,"My 5yo instantly loved game! I helped twice, l...",4,0.181385,0.641126

In [11]:
df.drop(columns=['Translated_Review','Sentiment_Polarity','Sentiment_Subjectivity'],inplace=True)

In [12]:
df.sample(5)

                                             App  Sentiment
37253                                    Dropbox          4
50622                    Fuelio: Gas log & costs          0
57694  Groupon - Shop Deals, Discounts & Coupons          4
55810                   Google Handwriting Input         -4
28277                      ColorSnap® Visualizer          4

In [13]:
after_editing = df.groupby('App').mean().reset_index()
after_editing.sample(5)

                              App  Sentiment
649                Four In A Line   2.819672
575        Facebook Pages Manager  -0.235294
828  High Blood Pressure Symptoms   2.486486
612               Financial Times   2.133333
170      Babbel – Learn Languages   2.583333

In [14]:
after_editing.sort_values(by='Sentiment',ascending=False)[:10]

                                                   App  Sentiment
439                           Daniel Tiger for Parents        4.0
755                                      Google Primer        4.0
321                                        Caller ID +        4.0
440                                   DashClock Widget        4.0
404                          Couple - Relationship App        4.0
220                     Best Fiends - Free Puzzle Game        4.0
320  CallApp: Caller ID, Blocker & Phone Call Recorder        4.0
497  Drawing for Kids Learning Games for Toddlers a...        4.0
496                            Draw a Stickman: EPIC 2        4.0
316                     Calendar+ Schedule Planner App        4.0

In [15]:
after_editing.sort_values(by='Sentiment')[:10]

                                App  Sentiment
493                 Draw A Stickman  -4.000000
495                  Draw Your Game  -4.000000
494                         Draw In  -4.000000
467                 Discover Mobile  -4.000000
665       Free Live Talk-Video Call  -4.000000
424                DEER HUNTER 2018  -4.000000
319  Call of Duty:Black Ops Zombies  -4.000000
679     Fruit Block - Puzzle Legend  -4.000000
757              Google Street View  -3.000000
837    Hitwe - meet people and chat  -2.222222

In [16]:
df.head()

                     App  Sentiment
0  10 Best Foods for You          4
1  10 Best Foods for You          4
3  10 Best Foods for You          4
4  10 Best Foods for You          4
5  10 Best Foods for You          4

In [17]:
df = pd.read_csv("googleplaystore.csv")

In [18]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [19]:
len(df.App.unique())

9660

In [20]:
df[df.App == "Angry Birds Classic"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1680,Angry Birds Classic,GAME,4.4,5566669,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up
1740,Angry Birds Classic,GAME,4.4,5566805,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up
1905,Angry Birds Classic,GAME,4.4,5566889,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up
1990,Angry Birds Classic,GAME,4.4,5566908,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up
3883,Angry Birds Classic,GAME,4.4,5565856,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up

In [21]:
df.drop_duplicates(inplace=True)

In [22]:
df[df.App == "Angry Birds Classic"]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
1680,Angry Birds Classic,GAME,4.4,5566669,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up
1740,Angry Birds Classic,GAME,4.4,5566805,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up
1905,Angry Birds Classic,GAME,4.4,5566889,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up
1990,Angry Birds Classic,GAME,4.4,5566908,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up
3883,Angry Birds Classic,GAME,4.4,5565856,97M,"100,000,000+",Free,0,Everyone,Arcade,"May 24, 2018",7.9.3,4.1 and up

In [23]:
len(df.App.unique())

9660

In [24]:
df.drop(columns=['Current Ver','Android Ver','Content Rating','Genres','Price'], inplace = True)

In [25]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Last Updated
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,"January 7, 2018"
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,"January 15, 2018"
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,"August 1, 2018"
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,"June 8, 2018"
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,"June 20, 2018"

In [26]:
df.dropna(inplace= True)

In [27]:
len(after_editing)

865

In [28]:
df['Sentiment'] = np.NaN  #created a field called sentiment with initial value not a number(NaN)

In [31]:
df.sample(10)

,App,Category,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
10213,Who Viewed My Facebook Profile - Stalkers Visi...,SOCIAL,4.6,273244,9.9M,"5,000,000+",Free,"June 24, 2018",NaN
8050,Avaya CX,BUSINESS,4.4,21,21M,"1,000+",Free,"July 25, 2018",NaN
4587,Tinder,LIFESTYLE,4.0,2789775,68M,"100,000,000+",Free,"August 2, 2018",NaN
9023,Direct Express®,FINANCE,4.5,6156,6.6M,"500,000+",Free,"May 9, 2017",NaN
1169,Capital One® Mobile,FINANCE,4.6,510401,79M,"10,000,000+",Free,"August 1, 2018",NaN
5665,Au-allstar for KR,GAME,3.6,2433,47M,"100,000+",Free,"June 15, 2018",NaN
5389,My Boo - Your Virtual Pet Game,FAMILY,4.4,899748,80M,"10,000,000+",Free,"August 3, 2018",NaN
9266,SCS eC,PRODUCTIVITY,4.4,7,17M,100+,Free,"October 21, 2016",NaN
1508,Homesnap Real Estate & Rentals,HOUSE_AND_HOME,4.3,3834,30M,"500,000+",Free,"July 31, 2018",2.0
217,ViettelPost express delivery,BUSINESS,4.4,1225,25M,"100,000+",Free,"August 1, 2018",NaN

In [32]:
x = list(after_editing.App)
for i in range(len(df)):
    check = df.iloc[i,0]
    if check in x:
        df.iloc[i,-1] = int(after_editing[after_editing.App == check].Sentiment)

In [33]:
after_editing[after_editing.App == '10 Best Foods for You']

                     App  Sentiment
0  10 Best Foods for You   3.134021

In [34]:
df.drop(columns='Category',inplace=True)

In [35]:
df.drop_duplicates(inplace=True)

In [36]:
df.drop_duplicates(subset=['App'],inplace=True)

In [37]:
df.sample(10)

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
827,Lerni. Learn languages.,4.0,3847,6.9M,"500,000+",Free,"October 25, 2017",NaN
7717,CQ,3.7,7,3.4M,"1,000+",Free,"May 18, 2018",NaN
3414,Galaxy Live Wallpaper,4.2,58052,4.0M,"5,000,000+",Free,"September 14, 2017",NaN
5569,【Miku AR Camera】Mikuture,4.4,36268,41M,"1,000,000+",Free,"April 25, 2017",NaN
3958,MORTAL KOMBAT X,4.4,3039889,18M,"10,000,000+",Free,"June 27, 2018",NaN
6602,Wireless BP,1.8,30,887k,500+,Free,"May 27, 2016",NaN
633,Spine- The dating app,5.0,5,9.3M,500+,Free,"July 14, 2018",NaN
3193,Lufthansa,3.6,14544,43M,"1,000,000+",Free,"July 27, 2018",NaN
9726,Gate Of Death Ep: 1,4.4,7,34M,100+,Free,"October 7, 2016",NaN
2664,Amazon Shopping,4.3,909226,42M,"100,000,000+",Free,"July 31, 2018",0.0

In [38]:
df[df.App=="8 Ball Pool"]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
1675,8 Ball Pool,4.5,14198297,52M,"100,000,000+",Free,"July 31, 2018",0.0

In [39]:
df[df.App=="ROBLOX"]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
1653,ROBLOX,4.5,4447388,67M,"100,000,000+",Free,"July 31, 2018",NaN

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8197 entries, 0 to 10840
Data columns (total 8 columns):
App             8197 non-null object
Rating          8197 non-null float64
Reviews         8197 non-null object
Size            8197 non-null object
Installs        8197 non-null object
Type            8197 non-null object
Last Updated    8197 non-null object
Sentiment       816 non-null float64
dtypes: float64(2), object(6)
memory usage: 576.4+ KB

In [41]:
df = df[np.isfinite(df['Sentiment'])]

In [42]:
df.sort_values(by='Rating')

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
2487,Anthem BC Anywhere,2.6,496,24M,"100,000+",Free,"July 27, 2018",0.0
2317,Anthem Anywhere,2.7,2657,24M,"500,000+",Free,"July 27, 2018",0.0
2337,Delta Dental,3.0,914,Varies with device,"100,000+",Free,"July 17, 2018",-1.0
915,Acorn TV: World-class TV from Britain and Beyond,3.0,493,23M,"50,000+",Free,"June 15, 2018",1.0
3483,HTC Mail,3.1,6572,Varies with device,"10,000,000+",Free,"May 29, 2018",1.0
3131,Allegiant,3.1,5572,21M,"1,000,000+",Free,"July 12, 2018",2.0
2531,ConnectLine,3.1,253,4.2M,"50,000+",Free,"September 12, 2016",2.0
1561,EyeCloud,3.1,1267,55M,"100,000+",Free,"August 2, 2018",1.0
1571,Entel,3.2,16168,55M,"1,000,000+",Free,"July 26, 2018",0.0
501,Free Dating Hook Up Messenger,3.3,1157,21M,"100,000+",Free,"January 27, 2017",1.0
3273,App vault,3.4,25094,Varies with device,"10,000,000+",Free,"July 18, 2018",0.0
1784,Baseball Boy!,3.4,148177,78M,"10,000,000+",Free,"July 27, 2018",0.0
3938,Draw A Stickman,3.4,29265,17M,"1,000,000+",Free,"May 19, 2017",-4.0
1491,ColorSnap® Visualizer,3.4,3280,77M,"1,000,000+",Free,"June 29, 2018",0.0
1472,Free Foreclosure Real Estate Search by USHUD.com,3.4,287,27M,"100,000+",Free,"May 29, 2018",0.0
3271,HTC Sense Input,3.4,17030,Varies with device,"10,000,000+",Free,"May 12, 2017",0.0
885,BBC Media Player,3.4,87384,Varies with device,"10,000,000+",Free,"September 14, 2016",0.0
510,BeWild Free Dating & Chat App,3.4,1999,8.0M,"100,000+",Free,"February 3, 2017",2.0
1580,HTC Speak,3.5,6145,13M,"10,000,000+",Free,"June 30, 2016",0.0
3046,Fantasy Football,3.5,50179,23M,"1,000,000+",Free,"August 2, 2018",0.0
184,Azpen eReader,3.5,156,42M,"500,000+",Free,"February 15, 2018",1.0
1523,Aviary Stickers: Free Pack,3.5,126862,624k,"10,000,000+",Free,"January 17, 2012",1.0
2313,BioLife Plasma Services,3.5,250,23M,"100,000+",Free,"July 9, 2018",1.0
841,EasyBib: Citation Generator,3.5,1405,7.3M,"100,000+",Free,"March 29, 2018",0.0
536,BBWCupid - BBW Dating App,3.5,241,2.8M,"50,000+",Free,"June 1, 2018",1.0
2328,CVS Caremark,3.5,3707,10M,"500,000+",Free,"July 28, 2018",1.0
2188,DreamWorks Friends,3.6,1042,48M,"100,000+",Free,"August 4, 2017",0.0
1050,Citibanamex Movil,3.6,52306,42M,"5,000,000+",Free,"July 27, 2018",1.0
2577,HTC Social Plugin - Facebook,3.6,13223,2.8M,"10,000,000+",Free,"June 8, 2016",0.0
3124,"AT&T Navigator: Maps, Traffic",3.6,32862,14M,"10,000,000+",Free,"December 6, 2016",0.0
...,...,...,...,...,...,...,...,...
1164,Associated Credit Union Mobile,4.7,3290,12M,"50,000+",Free,"May 30, 2018",3.0
1181,Easy Recipes,4.7,2707,8.9M,"100,000+",Free,"May 15, 2018",1.0
1199,Domino's Pizza USA,4.7,1032935,Varies with device,"10,000,000+",Free,"July 20, 2018",2.0
1244,BeyondMenu Food Delivery,4.7,51517,Varies with device,"1,000,000+",Free,"August 1, 2018",3.0
3620,Daniel Tiger for Parents,4.7,247,28M,"100,000+",Free,"March 19, 2018",4.0
1813,Cooking Madness - A Chef's Restaurant Games,4.7,358817,49M,"10,000,000+",Free,"July 30, 2018",0.0
1280,Calorie Counter - EasyFit free,4.7,50294,11M,"1,000,000+",Free,"July 9, 2018",3.0
3597,Family Album Mitene: Private Photo & Video Sha...,4.7,34336,Varies with device,"1,000,000+",Free,"July 31, 2018",3.0
1279,Abs Training-Burn belly fat,4.7,2071,6.9M,"100,000+",Free,"July 24, 2018",2.0
3464,Calculator - unit converter,4.7,287250,Varies with device,"50,000,000+",Free,"May 9, 2018",4.0
1471,DIY On A Budget,4.7,114,8.3M,"10,000+",Free,"February 18, 2018",3.0
1720,Bowmasters,4.7,1534466,Varies with device,"50,000,000+",Free,"July 23, 2018",0.0
3451,"All-In-One Toolbox: Cleaner, Booster, App Manager",4.7,536926,Varies with device,"10,000,000+",Free,"August 5, 2018",2.0
3481,Content Transfer,4.7,19302,7.2M,"5,000,000+",Free,"June 28, 2018",1.0
1377,Couch to 5K by RunDouble,4.7,15674,6.1M,"1,000,000+",Free,"July 31, 2018",2.0
3848,GPS Speedometer and Odometer,4.8,15865,3.3M,"1,000,000+",Free,"August 3, 2018",4.0
2803,FreePrints – Free Photos Delivered,4.8,109500,37M,"1,000,000+",Free,"August 2, 2018",3.0
4038,"DU Recorder – Screen Recorder, Video Editor, Live",4.8,2588730,9.7M,"50,000,000+",Free,"July 30, 2018",2.0
2571,Amino: Communities and Chats,4.8,1259075,62M,"10,000,000+",Free,"July 20, 2018",1.0
1092,"Even - organize your money, get paid early",4.8,12304,21M,"100,000+",Free,"August 2, 2018",2.0
1267,30 Day Fitness Challenge - Workout at Home,4.8,471036,Varies with device,"10,000,000+",Free,"August 3, 2018",3.0
1268,Home Workout for Men - Bodybuilding,4.8,12705,15M,"1,000,000+",Free,"July 10, 2018",3.0
3886,Find a Way: Addictive Puzzle,4.8,39480,14M,"500,000+",Free,"June 16, 2017",1.0
3303,Calculator with Percent (Free),4.8,48211,7.4M,"1,000,000+",Free,"November 18, 2017",2.0
2303,GoodRx Drug Prices and Coupons,4.8,59158,11M,"1,000,000+",Free,"July 26, 2018",2.0
2081,Fuzzy Seasons: Animal Forest,4.8,12137,63M,"100,000+",Free,"August 6, 2018",2.0
1256,Home Workout - No Equipment,4.8,428156,15M,"10,000,000+",Free,"June 28, 2018",3.0
64,DMV Permit Practice Test 2018 Edition,4.9,6090,27M,"100,000+",Free,"July 3, 2018",3.0
61,CDL Practice Test 2018 Edition,4.9,7774,17M,"100,000+",Free,"July 3, 2018",3.0
1336,Down Dog: Great Yoga Anywhere,4.9,28945,12M,"500,000+",Free,"May 17, 2018",4.0

In [43]:
df.sort_values(by='Sentiment',ascending=False)[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
1336,Down Dog: Great Yoga Anywhere,4.9,28945,12M,"500,000+",Free,"May 17, 2018",4.0
3300,Calculator Plus Free,4.6,679912,Varies with device,"10,000,000+",Free,"July 27, 2018",4.0
2067,Baby Panda’s Juice Shop,4.5,19230,45M,"5,000,000+",Free,"July 12, 2018",4.0
3114,Google Trips - Travel Planner,4.1,26871,Varies with device,"5,000,000+",Free,"July 26, 2018",4.0
3534,Google Slides,4.2,244567,Varies with device,"100,000,000+",Free,"August 6, 2018",4.0

In [44]:
df[~df.Sentiment.isna()].sort_values(by='Sentiment')[:5]

,App,Rating,Reviews,Size,Installs,Type,Last Updated,Sentiment
692,Free Live Talk-Video Call,4.7,158,4.5M,"10,000+",Free,"July 5, 2018",-4.0
1777,Draw In,4.2,46416,73M,"10,000,000+",Free,"July 23, 2018",-4.0
1837,Call of Duty:Black Ops Zombies,4.2,13004,46M,"100,000+",Paid,"December 20, 2016",-4.0
3938,Draw A Stickman,3.4,29265,17M,"1,000,000+",Free,"May 19, 2017",-4.0
1994,Fruit Block - Puzzle Legend,4.6,125647,33M,"10,000,000+",Free,"July 23, 2018",-4.0

In [45]:
df.drop(columns=['Reviews','Size','Installs','Type','Last Updated'], inplace = True)

In [46]:
df.head()

                                          App  Rating  Sentiment
1                         Coloring book moana     3.9        1.0
8                        Garden Coloring Book     4.4        2.0
18              FlipaClip - Cartoon animation     4.3        4.0
21  Boys Photo Editor - Six Pack & Men's Suit     4.1        1.0
26              Colorfit - Drawing & Coloring     4.7        2.0

In [47]:
df['mean'] = df.mean(axis=1)

In [48]:
df.sort_values(by='Sentiment',ascending=False)[:5]

                                App  Rating  Sentiment  mean
1336  Down Dog: Great Yoga Anywhere     4.9        4.0  4.45
3300           Calculator Plus Free     4.6        4.0  4.30
2067        Baby Panda’s Juice Shop     4.5        4.0  4.25
3114  Google Trips - Travel Planner     4.1        4.0  4.05
3534                  Google Slides     4.2        4.0  4.10

In [49]:
df.sort_values(by='Sentiment')[:5]

                                 App  Rating  Sentiment  mean
692        Free Live Talk-Video Call     4.7       -4.0  0.35
1777                         Draw In     4.2       -4.0  0.10
1837  Call of Duty:Black Ops Zombies     4.2       -4.0  0.10
3938                 Draw A Stickman     3.4       -4.0 -0.30
1994     Fruit Block - Puzzle Legend     4.6       -4.0  0.30

In [50]:
df.sort_values(by='Rating')[:5]

,App,Rating,Sentiment,mean
2487,Anthem BC Anywhere,2.6,0.0,1.30
2317,Anthem Anywhere,2.7,0.0,1.35
2337,Delta Dental,3.0,-1.0,1.00
915,Acorn TV: World-class TV from Britain and Beyond,3.0,1.0,2.00
3483,HTC Mail,3.1,1.0,2.05

In [51]:
df.sort_values(by='Sentiment', ascending=False)[:5]

                                App  Rating  Sentiment  mean
1336  Down Dog: Great Yoga Anywhere     4.9        4.0  4.45
3300           Calculator Plus Free     4.6        4.0  4.30
2067        Baby Panda’s Juice Shop     4.5        4.0  4.25
3114  Google Trips - Travel Planner     4.1        4.0  4.05
3534                  Google Slides     4.2        4.0  4.10

In [52]:
df = df.rename(columns={'mean': 'Overall Rating'})

In [53]:
df.sort_values(by='Sentiment',ascending=False)[:5]

                                App  Rating  Sentiment  Overall Rating
1336  Down Dog: Great Yoga Anywhere     4.9        4.0            4.45
3300           Calculator Plus Free     4.6        4.0            4.30
2067        Baby Panda’s Juice Shop     4.5        4.0            4.25
3114  Google Trips - Travel Planner     4.1        4.0            4.05
3534                  Google Slides     4.2        4.0            4.10

In [54]:
df.sort_values(by='Sentiment')[:5]

                                 App  Rating  Sentiment  Overall Rating
692        Free Live Talk-Video Call     4.7       -4.0            0.35
1777                         Draw In     4.2       -4.0            0.10
1837  Call of Duty:Black Ops Zombies     4.2       -4.0            0.10
3938                 Draw A Stickman     3.4       -4.0           -0.30
1994     Fruit Block - Puzzle Legend     4.6       -4.0            0.30

In [55]:
df.sort_values(by='Rating', ascending=False)[:5]

                                        App  Rating  Sentiment  Overall Rating
64    DMV Permit Practice Test 2018 Edition     4.9        3.0            3.95
1336          Down Dog: Great Yoga Anywhere     4.9        4.0            4.45
61           CDL Practice Test 2018 Edition     4.9        3.0            3.95
1268    Home Workout for Men - Bodybuilding     4.8        3.0            3.90
2803     FreePrints – Free Photos Delivered     4.8        3.0            3.90

In [56]:
df.sort_values(by='Rating')[:5]

,App,Rating,Sentiment,Overall Rating
2487,Anthem BC Anywhere,2.6,0.0,1.30
2317,Anthem Anywhere,2.7,0.0,1.35
2337,Delta Dental,3.0,-1.0,1.00
915,Acorn TV: World-class TV from Britain and Beyond,3.0,1.0,2.00
3483,HTC Mail,3.1,1.0,2.05

In [57]:
df.head()

,App,Rating,Sentiment,Overall Rating
1,Coloring book moana,3.9,1.0,2.45
8,Garden Coloring Book,4.4,2.0,3.20
18,FlipaClip - Cartoon animation,4.3,4.0,4.15
21,Boys Photo Editor - Six Pack & Men's Suit,4.1,1.0,2.55
26,Colorfit - Drawing & Coloring,4.7,2.0,3.35

In [58]:
df.sample(5)

                           App  Rating  Sentiment  Overall Rating
5393  Diary with lock password     4.3        2.0            3.15
1181              Easy Recipes     4.7        1.0            2.85
1658    Hello Kitty Nail Salon     4.2        0.0            2.10
1220          Cookbook Recipes     4.1        3.0            3.55
3235          Google Translate     4.4        4.0            4.20